<div
  class="flex flex-col sm:flex-row items-center md:items-center lg:bg-none bg-[#F1F5F9] sm:justify-center md:justify-start flex-auto min-w-0 h-screen"
>
  <div
    class="md:flex md:justify-end w-full items-center sm:w-auto md:h-full lg:w-1/2 py-16 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
  >
    <div class="lg:w-9/12 w-80 mx-auto sm:mx-0">
      <!-- <div class="">
        <img src="../../../../assets//Group 136.svg" alt="" />
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div
    class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-screen p-16 lg:px-28 overflow-hidden check dark:border-l"
  >
    <div class="absolute top-0 right-0">
      <img src="../../../../assets/Vector (KeepUp).svg" alt="" />
    </div>
    <div class="absolute top-10 ">
      <img src="../../../../assets/KeepUP Logo with text.svg" alt="" />
    </div>
    <!-- Content -->
    <div class="z-10 relative w-full max-w-2xl">
      <div></div>
      <div class="text-7xl font-bold leading-none text-gray-100">
        <div>Welcome to</div>
        <div>our community</div>
      </div>
      <div class="mt-6 text-lg tracking-tight leading-6 text-gray-100">
        Fuse helps developers to build organized and well-coded dashboards full
        of beautiful and rich modules. Join us and start building your
        application today.
      </div>
      <div class="flex items-center mt-8"></div>
    </div>
  </div>
</div>
