<div
  [ngClass]="{ 'w-48': open, 'w-14': !open }"
  class="h-screen relative duration-300 bg-[#2B303B]"
  [ngStyle]="{ 'overflow-y': open ? 'auto' : 'hidden' }"
>
  <!-- Header Section -->
  <div class="bg-[#272B35] p-5">
    <div class="flex gap-x-4 items-center">
<h1       [ngClass]="{ hidden: !open, 'origin-left duration-200 w-12 text-white': true }"  >
  check
</h1>
<div>
  <img src="../../../assets/KeepUP Logo.svg" alt="" class="w-10">
</div>

    </div>
  </div>
  <!-- Menu Items Section -->
  <ul class="pt-2 p-4">
    <ng-container *ngFor="let menu of menus; let i = index">
      <li
        class="flex rounded-md p-2 mt-6 cursor-pointer hover:bg-light-white text-gray-300 text-sm justify-between items-center gap-x-4"
      >
        <span
          [ngClass]="{ hidden: !open, 'origin-left duration-200 w-12': true }"
          [routerLink]="menu.routerlink"
          (click)="sendTitle(menu)"
          >{{ menu.title }}</span
        >
        <i class="text-[16px]" [ngClass]="menu.src"></i>
      </li>
    </ng-container>
  </ul>
</div>
